/*************
*  Utility
**************/

/* Box Sizing */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
/* Clear Class */
.clear{
	overflow: auto;
}

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*************
*  Base
**************/

body {
  font-family: helvetica, arial, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

/*************
* Layout
**************/

header {
  background-color: red;
  padding: 10px;
}

article {
  background-color: blue;
  padding: 10px;
  width: 50%;
  float: left;
}

aside {
  background-color: yellow;
  padding: 10px;
  width: 33.3333%;
  float: left;
}

footer {
  background-color: green;
  padding: 10px;
  clear: both;
}

.placeholder {
  border: 1px solid #333;
  background-color: rgba(255,255,255,.4);
  padding: 20px;
  height: 150px;
}

.placeholder:first-letter {
  font-size: 25px;
  color: white;
}

/*************
* Navigation
**************/

