/*Remove inline*/
/*Gotes to*/
select{
     width:150px;
}

/*Combine multiples*/
#buttons-wrapper, #buttons-wrapper>form{
     padding:10px;
     border:1px solid black;
     
}
#buttons-wrapper>form{ /*  '>' means 'direct child' */
     background:orange;
}
/*Goes to*/


/*Rename classes/ids for readability*/
#banner-image{
     margin-top: 50px;
}
/*Goes to*/

/*Global Styles*/

a{
     color:red;
}

a:hover{
     color:purple;
}

body{
     background-image:url(../images/anImage.png);
}

/*Header Styles*/
header{
     height:80px;
}

header>ol{
     list-style: none;
}

#navigation-wrapper{
     float:left;
}

.list-item{
     width:200px;
}

/*Layout Styles*/


#container>.col{
     width:50%;
}

#container>img{
     border:1px solid red;
}

/*Footer Styles*/
footer{
     text-align: right;
}

footer>#company-name{
     font-weight: bold;
}
/*Goes to*/



/*Create classes for large css changes
$("#container").css({background:"red",fontSize:"12px",color:"purple",boxShadow:"0 0 10px #ccc";})
*/

/*Goes to*/