/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	/* padding: 0 0 10px 10px;
     note the padding around a right floated image */
}

.alignleft {
	float: left;
	/* padding: 0 10px 10px 0; 
     note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin: 5px;
     padding: 5px;
     font-family: 'Hind', sans-serif;
     background: url(../imgs/dc-flag.jpg) no-repeat;
     background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
     width: 100%;
     margin: 0 auto;
     padding-top: 5em;
     background-color: rgba(192,192,192,0.7);
}

header {
     background: rgba(255,0,51,.7);
     border: 3px solid gray;
     border-left: none;
     border-right: none;
     margin-top: -6%;
}


h1 {
     width: 60%;
     padding: 0 0 20px 10px;
}

a {
     color: darkgray;
     text-decoration: none;
}

a:hover {
     color: yellow;
}

header nav {
     
}

header ul {
     display: inline;
     padding: 30px 40px;

}

.signUp {
     padding: 5px;
     position: fixed;
     right: 5px;

}

.signUp a {
     font-weight: bold;
     text-decoration: underline;
}

.signUp ul {
     padding: 0 5px; 
     margin: 1px;
}

#mainArticle {
     width: 50%;
     padding: 1%;
     background-color: 

}

#mediaItems {
     width: 50%;
     padding: 2%;
}

iframe {
     position: relative;
     right: 0;
}

#main {
     padding: 1%;
}

div img {
     width: 20%;
     height: auto;
}

footer a {
     color: gray;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

