/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: url(../images/background.png);
  -webkit-background-size: tile;
  -moz-background-size: tile;
  -o-background-size: tile;
  background-size: tile;
  font-family: sans-serif;
  font-size: 14px;
}

fieldset {
  border: none;
}

legend {
  float: left;
  width: 20%;
  text-align: left;
}

input {
  padding: .2em;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #CCC;
  background-color: #FBF3B5;
}

input[name="firstName"] {
  margin-right: 2%;
}

.formSectionTitle {
  font-weight: bold;
  font-size: 1em;
}



.fieldWrap {
  float: left;
  width: 80%;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




